<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>descripto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Chave Secreta</ion-label>
    <ion-input [(ngModel)]="chave" type="text"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="decryptMessage()">Descriptografar</ion-button>
  <ion-item>
    <ion-textarea [autoGrow]="true" [(ngModel)]="decryptedMessage" readonly></ion-textarea>
  </ion-item>
</ion-content>
